.grid {
  width: 100%;

  @include media('<medium') {
    display: grid;
    gap: 1rem;

    &__item {
      &--your-day {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 1.5625rem;
        flex-direction: column-reverse;

        margin-bottom: 2rem;

        .grid__item-body {
          display: grid;
          gap: 1.3125rem;
        }
      }

      &--come-and-be {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        .grid__heading {
          margin-bottom: 1.5rem;
        }
      }
    }

    &__image {
      object-fit: cover;

      height: auto;
      width: 100%;

      &--your-day {
        content: url('../assets/mobile/image-grid-1.jpg');
      }
      &--big-image {
        content: url('../assets/mobile/image-grid-2.jpg');
      }
      &--small-image {
        content: url('../assets/mobile/image-grid-3.jpg');
      }
    }
  }

  @include media('>=medium', '<large') {
    width: min(43.0625rem, 100%);

    display: grid;
    grid-template-areas:
      'your-day your-day your-day'
      'big-image big-image small-image'
      'big-image big-image come-and-be';

    grid-template-columns: max-content 1fr;
    gap: 0.6875rem;
    align-items: center;

    &__item {
      &--your-day {
        grid-area: your-day;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4.25rem;

        .grid__item-body {
          display: grid;
          gap: 1.5rem;

          width: min(13.9375rem, 100%);
        }
      }

      &--big-image {
        grid-area: big-image;
      }

      &--small-image {
        grid-area: small-image;
      }

      &--come-and-be {
        grid-area: come-and-be;

        width: 17.5rem;
        min-height: 24.75rem;

        padding-top: 5.3125rem;
        padding-bottom: 5.3125rem;
        padding-left: 1.75rem;
        padding-right: 1.75rem;

        .grid__heading {
          margin-bottom: 1.5rem;
        }
      }
    }

    &__image {
      object-fit: cover;

      &--your-day {
        content: url('../assets/tablet/image-grid-1.jpg');

        width: min(24.875rem, 100%);
        height: 25rem;
      }
      &--big-image {
        content: url('../assets/tablet/image-grid-2.jpg');

        width: min(24.875rem, 100%);
        height: 45rem;
      }
      &--small-image {
        content: url('../assets/tablet/image-grid-3.jpg');

        width: min(17.5rem, 100%);
        height: 19.375rem;
      }
    }
  }

  @include media('>=large') {
    width: min(69.375rem, 100%);

    display: grid;
    grid-template-areas:
      'your-day your-day your-day'
      'big-image big-image small-image'
      'big-image big-image come-and-be';

    gap: 1.875rem;
    align-items: center;

    &__item {
      &--your-day {
        grid-area: your-day;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        .grid__item-body {
          display: grid;
          gap: 2rem;

          width: 21.875rem;
          min-height: 17.5rem;
        }
      }

      &--big-image {
        grid-area: big-image;
      }

      &--small-image {
        grid-area: small-image;
      }

      &--come-and-be {
        grid-area: come-and-be;

        width: 27.8125rem;
        min-height: 23.5625rem;

        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;

        .grid__heading {
          margin-bottom: 2rem;
        }
      }
    }

    &__image {
      object-fit: cover;
      height: auto;

      &--your-day {
        content: url('../assets/desktop/image-grid-1.jpg');

        width: min(39.6875rem, 100%);
        height: 25rem;
      }
      &--big-image {
        content: url('../assets/desktop/image-grid-2.jpg');

        width: min(39.6875rem, 100%);
        height: 45rem;
      }
      &--small-image {
        content: url('../assets/desktop/image-grid-3.jpg');

        width: min(27.8125rem, 100%);
      }
    }
  }
}
