$font-big-shoulders-display: 'Big Shoulders Display', cursive;
$font-outfit: 'Outfit', sans-serif;

$font-cursive: $font-big-shoulders-display;
$font-sans-serif: $font-outfit;

$color-gold: hsl(24, 56%, 63%);
$color-almost-black: hsl(0, 0%, 8%);
$color-almost-black--inverted: hsl(0, 0%, 92%);
$colordark-grey: hsl(0, 0%, 27%);
$color-white: hsl(0, 0%, 100%);
