body.home-page {
  background-color: $color-white;
}

body.location-page {
  background-color: $color-almost-black;
}

.header {
  &__invert-filter {
    filter: invert(1);
    background-color: $color-almost-black--inverted;
  }

  &__heading {
    color: $color-almost-black;
  }

  &:before {
    background-color: $color-almost-black;
  }
}

.button {
  &__arrow {
    background-color: $color-gold;

    &::after {
      background: inherit;
      background-color: $color-almost-black;
    }
  }

  &__text {
    background-color: $color-almost-black;
    color: $color-white;

    &::after {
      background-color: $color-gold;
    }
  }
}

.grid {
  &__heading {
    color: $color-almost-black;
  }

  &__paragraph {
    color: $color-dark-grey;
  }

  &__item--come-and-be {
    background-color: $color-almost-black;

    .grid__heading,
    .grid__paragraph {
      color: $color-white;
    }
  }
}

.location {
  background-color: $color-almost-black;
  color: $color-white;

  &__address-heading {
    color: $color-gold;
  }
}

.footer {
  &--dark {
    background-color: $color-almost-black;
    color: $color-white;
  }
  &--gold {
    background-color: $color-gold;
    color: $color-almost-black;

    .footer__logo,
    .footer__socials-image {
      filter: brightness(0);
    }
  }
}
