*,
:before,
:after {
  // border: 1px dashed green;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  @include media('>=medium', '<large') {
    padding-top: 7.5rem;
    padding-right: 2.5rem;
    padding-bottom: 7.5rem;
    padding-left: 2.5rem;
  }

  @include media('>=large') {
    padding-top: 11.25rem;
    padding-right: 10.25rem;
    padding-bottom: 11.25rem;
    padding-left: 10.3125rem;
  }
}
