*,
:before,
:after {
  border: 1px dashed green;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  @include media('>=large') {
    width: 100%;
    padding-top: 11.25rem;
    padding-right: 10.25rem;
    padding-bottom: 11.25rem;
    padding-left: 10.3125rem;
  }
}
